<!-- templates/status.html -->
{% extends "base.html" %}

{% block content %}
    <h2>Booking Status for {{ showtime.movie.title }} - {{ showtime.time }}</h2>
    <table border="5">
        <thead>
            <tr>
                <th>Customer Name</th>
                <th>Seats</th>
            </tr>
        </thead>
        <tbody>
            {% for booking in bookings %}
                <tr>
                    <td>{{ booking.customer_name }}</td>
                    <td>{{ booking.seats }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('show_movie', movie_id=showtime.movie.id) }}">Back to Movie</a>
{% endblock %}
